<tr>
  <td><%= message.id %></td>
  <td><%= message.name %></td>
  <td><%= message.submiter.email %></td>
  <td><%= message.subject %></td>
  <td><%= message.contents %></td>
  <td><%= link_to 'destroy', message, data: {'turbo-method': :delete, turbo_confirm: 'Are you sure?' } %></td>
</tr>
